body {
    background-color:#D7BEBC;
}
.container {
    text-align: center;
    border: 3px solid black;
    background-color: #ceeeb2;
    border-radius: 10px;

}
#resim {
    width:30%;
    height:40%;
    border-radius: 10px;
}
.button-container button{
    padding:0.5rem 1rem;
    cursor: pointer;
    border-radius: 10px;
    background-color: #acacd4;
    margin-bottom: 2%;
}
.bilgiler p {
    font-size: 1.3rem;
}
h1 {
    font-size:2rem;
    color:purple;
}
h2 {
    color:navy;
}
