.container{
    display:flex;
    flex-direction: column;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.ust{
    display:flex;
    justify-content:center;
    gap:5px;
}
.kutu{
    width:200px;
    height:200px;
    background-color: red;
    color:white;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    font-size: 1.3rem;
    border:none;
}
.kutu:hover{
    background-color:orange;
    color:black;
}
#mesaj{
   
    font-size: 2rem;
    height:100px;
    text-align:center;
    padding-top:20px;

}
.ust button:disabled{
    background-color:gray;
    opacity:.4;
}